*,
*::before,
*::after{
  box-sizing: border-box;
  transform: .5s;
}

body{
  height: auto;
  position: relative;
}

a{
  text-decoration:none;
}

/* section1 */
#section1{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#head{
  /* background-color: burlywood; */
  width: 100%;
  margin-bottom: .3rem;
}

#logo{
  /* background-color: aqua; */
  margin:.5rem 4rem ;
  display: flex;
}

.logo-img{
  margin: 0;
  /* background-color: blue; */
}

.logo-text{
  margin-top:.5rem ;
  display: flex;
  flex-direction: column;
  /* background-color: yellowgreen; */
  margin-left: 1rem;
}

.logo-text-pink{
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: 'Great Vibes', cursive;
}

.text-pink{
  color: #f499aa;
}

.logo-text-black{
  font-family: 'Raleway', sans-serif;
  font-size: .8rem;
}

.text-black{
  color: black;
}

.hamburger{
  width: 40px;
  height: 40px;
  background: #403646;
  border: 1px solid #403646;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hamburger span{
  display: inline-block;
  width: 60%;
  height: 3px;
  background: white;
  position: relative;
  border-radius: 15%;
}

.hamburger span::before{
  content: '';
  width: 100%;
  height: 3px;
  background: white;
  position: absolute;
  top: 8px;
  left: 0;
  border-radius: 15%;
}

.hamburger span::after{
  content: '';
  width: 100%;
  height: 3px;
  background: inherit;
  position: absolute;
  bottom: 8px;
  left: 0;
  border-radius: 15%;
}

#checkmenu{
  display: none;
}

#menu{
  font-family: 'Raleway', sans-serif;
  background-color: #ffffff;
  border: 2px solid #f499aa;
  /* border-bottom: transparent; */
  z-index: 560;
  padding: .8rem;
  /* opacity: 0; */
  position: absolute;
  top: 100%;
  display: none;
}

#menu li{
  width: 349px;
  height: 36px;
  margin-left: 2%;
}

#menu li a{
  font-weight: 500;
  color: black;
}

#checkmenu:checked+#menu{
  display: block;
}

.di{
  width: 1px;
  height: .5rem;
  /* display: flex; */
  float: right;
  border: .5px solid #46466A;
  transform:rotate(220deg);
  margin-right: 1rem;
  margin-bottom: 0;
  cursor: pointer;
}

.di::before{
  content: "";
  width: 1px;
  height: .5rem;
  float: right;
  border: .5px solid #46466A;
  transform-origin: top;
  transform:rotate(280deg);
}

  #li1{
    width: 378px;
    display: none;
    background-color: #ffffff;
    border: 2px solid #f499aa;
    border-top: transparent;
    padding: .8rem;
    position: absolute;
    left: -.5%;
  }

  #li1 li:nth-child(1){
    margin-top:1rem;
  }

  #li1 li{
    margin-left: 2rem;
  }

  #li1 li a{
    color: #776C5E;
    font-weight: 300
  }
  #checkmenu:checked+#menu
  #checkli:checked+#li1{
    display: block;
  }

  #checkli{
    display: none;
  }

  /* section2 */

  #section2{
    width: 100%;
    /* background-color:yellow; */
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* top: 34%; */
  }

  #row-img{
    width: 100%;
    position: relative;
  }

  #row-img li{
    -webkit-animation: round 15s linear infinite;
    animation: round 15s linear infinite;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  #row-img li img{
    width: 100%;
    position: absolute;
  }

  @-webkit-keyframes round {
    5% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 0 - 1秒 淡入*/
    }
    20% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 1- 5秒靜止*/
    }
    50% {
    opacity: 0;
    filter: alpha(opacity=0);
    /* 5-6秒淡出*/
    }
    }
    @keyframes round {
    5% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 0 - 1秒 淡入*/
    }
    20% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 1- 5秒靜止*/
    }
    50% {
    opacity: 0;
    filter: alpha(opacity=0);
    /* 5-6秒淡出*/
    }
    }

    #row-img li:nth-child(1) {
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
      }
      
      #row-img li:nth-child(2) {
      -webkit-animation-delay: 5s;
      animation-delay: 5s;
      }
      
      #row-img li:nth-child(3) {
      -webkit-animation-delay: 10s;
      animation-delay: 10s;
      }

  .img-alltext{
    position: absolute;
    top: 0;
    display: none;
  }

  #row-bottom{
    font-family: 'Raleway', sans-serif;
    /* position: relative; */
    top: 0%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    /* background: chartreuse; */
    margin-top: 48%;
    margin-bottom: 10%;
    font-size: 13px;
  }

  .bottom-right{
    width: 30%;
    text-align: center;
    line-height: 55px;
    background-color: #9D6FC3;
    margin-left:4% ;
  }

  .bottom-right:hover{
    background-color:#FEB3CD;
  }
  

  .bottom-left{
    width: 30%;
    text-align: center;
    line-height: 55px;
    background-color:#FEB3CD;
    margin-right: 4%;
  }

  .bottom-left:hover{
    background-color:#9D6FC3;
  }

  .bottom-button-left{
    color: #FFE7DC;
    padding: 0 10px;
  }

  .bottom-button-right{
    color: #FFE7DC;
    padding: 0 10px;
  }

  /* section3 */

  .top-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
    /* justify-content: center; */
  }

  .top-text h2{
    font-family: 'Rochester', handwriting;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0px;
    margin-top: 5px;
  }

  .top-text p{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0px;
    color: #A6A6A6;
  }

  #card3{
    width: 367px;
    height: 394px;
    /* background: #FEB3CD; */
    display: flex;
    /* justify-content: center; */
    overflow: hidden;
    /* float: left; */
    /* width: 1200px; */
    margin:  auto;
    position: relative;
    /* animation: move 15s linear infinite; */
  }

  .card3-card{
    background: #FFE7DC;
    height: 394px;
    float: left;
    /* list-style: none; */
    /* position: absolute; */
    left: 0;
    width: 367px;
    /* margin-right: 20px; */
    animation: move 15s linear infinite;
  }

  .card3-img img{
    width: 367px;
    background: cover;
  }

  .card3-text{
    text-align: center;
  }

  .card3-text h3{
    font-size: 27px;
    line-height: 1.4;
    letter-spacing: 0px;
    font-family: 'Rochester', handwriting;
  }

  .card3-text p{
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0px;
    font-family: 'Raleway', sans-serif;
    color: #A6A6A6;
  }

  .card3-text p:nth-last-child(1){
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0px;
    color: #9D6FC3;
  }

  @keyframes move {
    0%,
    33.3%{
      transform: translateX(0px);
      opacity: 1;
    }
    34%,
    66.3% {
      transform: translateX(-367px);
      opacity: 1;
    }
    67%,
    99.3% {
      transform: translateX(-734px);
      opacity: 1;
    }
    100%{
      transform: translateX(380px);
      opacity: 1;
    }
  }